body {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  max-width: 100ch;
  margin: 0 auto;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  button, input {
    font-size: 1.5em;
  }
}
